[user]
    name = bozo.kopic
    email = bozo@kopic.xyz
    signingkey = 1E5A7C9229CE0BEE9488499B61E770F9ED93DF2A
[http]
    sslVerify = false
[branch]
    autosetuprebase = always
[core]
    autocrlf = false
    editor = nvim
    excludesfile = ~/.dotfiles/git/.gitignore
[alias]
    tree = log --graph --pretty='format:"%C(auto)%h [%ad] %an%d: %s"' --date=short
[diff]
    tool = meld
    guitool = meld
    submodule = log
[push]
    default = simple
[difftool "meld"]
    path = /usr/bin/meld
[commit]
    gpgsign = true
[status]
    submodulesummary = 1
[init]
	defaultBranch = master
[sendemail]
    smtpserver = echo.mxrouting.net
    smtpuser = bozo@kopic.xyz
    smtpencryption = ssl
    smtpserverport = 465
