[user]
    name = bozo.kopic
    email = bozo@kopic.xyz
    signingkey = CC79457AF7EEDD5558E3D8303BFE72132DE3F554
[http]
    sslVerify = false
[branch]
    autosetuprebase = always
[core]
    autocrlf = false
    editor = vim
[alias]
    tree = log --graph --pretty='format:"%C(auto)%h [%ad] %an%d: %s"' --date=short
[diff]
    tool = meld
    guitool = meld
    submodule = log
[push]
    default = simple
[difftool "meld"]
    path = /usr/bin/meld
[commit]
    gpgsign = true
[status]
    submodulesummary = 1
