[Desktop Entry]
Type=Application
Name=Sublime Music
GenericName=Music Player
Comment=Native Subsonic client for Linux
Exec=sublime-music
Icon=sublime-music
Terminal=false
Categories=AudioVideo;Audio;Music;
