"*":
  Repl:
    python3: "python"
  "autoclose-html":
    forceInline: [
      "*"
    ]
  "autocomplete-python":
    useKite: false
  autosave: {}
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "1bf124c7-3f32-dd9a-658e-b3fb13caee50"
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      flake8:
        enabled: true
      jedi_completion:
        include_params: false
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      jedi_hover:
        enabled: false
      jedi_references:
        enabled: false
      jedi_signature_help: {}
      mccabe:
        enabled: false
      pyflakes:
        enabled: false
  linter: {}
  "linter-flake8": {}
  "linter-ui-default":
    panelHeight: 206
  "lisp-paredit":
    enabled: false
    strict: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "spell-check":
    grammars: [
      "source.yaml"
      "text.plain"
      "text.restructuredtext"
    ]
    localePaths: [
      "/usr/share/myspell/dicts/en_US.dic"
    ]
    locales: [
      "en-US"
    ]
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "symbols-tree-view":
    defaultWidth: 400
  tabs:
    usePreviewTabs: true
  "toggle-packages":
    togglePackages: [
      "vim-mode-plus"
    ]
  "tool-bar":
    visible: false
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "yaml-path":
    activateOnStart: "Don't show on start"
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
